* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #343541;
}

.timeline {
  margin-top: 100px !important;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-container {
  background-color: #2021237e;
  width: 100%;
  margin-top: 100;
}

/*esse eh a linha*/
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #202123;
  margin-left: -1px;
  
}

.timeline-item {
  position: relative;
  padding: 40px 0;
  clear: both;
}

.timeline-item:before,
.timeline-item:after {
  content: '';
  display: table;
}

.timeline-item:after {
  clear: both;
}

/* caixa de texto */
.timeline-item .content {
  position: relative;
  width: 45%;
  padding: 20px;
  background: #3e3f4b;
  border-radius: 5px;
  color: #ececf1;
  cursor: pointer;
}

.timeline-item .content h2 {
  margin-top: 0;
  text-align: center;
}

.timeline-item .content p {
  margin: 10px 0;
  display: none;
}

.show {
  display: block !important;
}

/* essa eh a bolinha */
.timeline-item .timeline-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #202123;
  color: #ececf1;
}

.navbar {
  position: fixed;
  background-color: #202123;
  width: 100%;
  height: auto;   
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.navbar h1{
  margin-left: 35px;
  color: #ececf1;
}
.navItens {
  color: #ececf1;
  margin-right: 35px;
  text-decoration: none;
  cursor: pointer;
  font-size: medium;  
  transition: all 0.2s ease-in-out;
}
  .navItens:hover {
    font-size: large;
    text-decoration: none;
    color: #ececf1;
  }

  .navbar img {
    width: 60px;
    height: auto;
    margin-top: 5px;
  } 

  #modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 9999;
  }
  
  #modalContainer.show {
    display: flex;
  }
  
  .video-container {
    position: relative;
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
  }
  
  .video-container video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.right {
  left: 450px;
}

.curisidades {
  margin-top: 100px;
  background-color: #202123;
  padding: 60px;
  border-radius: 6px;
}

  .curisidades p, h1 {
    color: #ececf1;
    text-align: justify;
  }

  .curisidades h1 {
    font-size: 24px;
  }

  .curisidades img {
    height: 100%;
    width: auto;
  }

  .curisidades p {
    font-size: 12px;
  }

.curisidade {
  margin-bottom: 100px;
}

.part2 {
  flex-direction: row-reverse;
}

.made {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ececf1;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.gpt {
  width: 50px !important;
  height: auto;
}

.logos {
  width: 100px;
  margin-left: 30px;
  height: auto;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

  .scroll-to-top:hover {
    background-color: rgba(128, 128, 128, 0.5);
    border: 0;
  }

  .title-timeline {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #ececf1;
    font-size: 24px;
    font-weight: bold;
    background-color: #202123;
    border-radius: 40px;
    width: 20%;
    margin: 80px auto;
}

.title-timeline h2 {
  margin-bottom: 0 !important;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  color: #ececf1;
  height: 80vh;
  width: 100%;
  margin-top: 100px;
}

  .welcome h1 {
    font-size: 32px;
    text-align: center;
  }

.descripton {
  text-align: center;
  margin-top: 30px;
}

.person {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: #ececf1;
  font-weight: bold;
  flex-direction: column;
  background-color: #202123;
  padding: 50px 0;
}

  .person .content {
    text-align: center;
    max-width: 100%;
    width: 60%;
  }

  .person button {
    background-color: #3e3f4b;
    border: none;
    border-radius: 8px;
    color: #ececf1;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    transition-duration: 0.4s;
  }

  .person button:hover {
    background-color: #ececf1; /* Green */
    color: #3e3f4b;
  }

.person img {
  margin-top: 40px;
  border-radius: 2px;
  max-width: 100%;
  height: auto;
  width: 30%; 
  margin-bottom: 100px;
}

/* CODIGO CSS DO BOTAO */
.btn {
  font-size: 1em;
  margin-top: 100px;
  line-height: 1em;
  letter-spacing: 0.04em;
  display: inline-block;
}

.btn--svg {
  position: relative;
  height: 42px;
  width: 190px;
  overflow: hidden;
  border-radius: 21px;
}

.btn--svg:hover .btn--svg__circle circle {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.btn--svg:hover .btn--svg__label {
  color: #fff;
}

.btn--svg:hover .btn--svg__border--left path,
.btn--svg:hover .btn--svg__border--right path {
  stroke-dasharray: 61.8204345703125 61.8204345703125;
  stroke-dashoffset: 0;
  -webkit-transition-delay: 0.25s;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-property: stroke-dashoffset;
  -moz-transition-delay: 0.25s;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-property: stroke-dashoffset;
  -ms-transition-delay: 0.25s;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-in-out;
  -ms-transition-property: stroke-dashoffset;
  transition-delay: 0.25s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: stroke-dashoffset;
}

.btn--svg__label {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  z-index: 3;
  width: 100%;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.btn--svg__circle circle {
  -webkit-transition: transform 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
  -moz-transition: transform 0.5s ease-in-out;
  -moz-transform: scale(1.1);
  -moz-transform-origin: 50% 50%;
  -ms-transition: transform 0.5s ease-in-out;
  -ms-transform: scale(1.1);
  -ms-transform-origin: 50% 50%;
  transition: transform 0.5s ease-in-out;
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.btn--svg__border--left path,
.btn--svg__border--right path {
  stroke-dasharray: 61.8204345703125 61.8204345703125;
  -webkit-transition-duration: 0s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-property: stroke-dashoffset;
  -webkit-transition-delay: 0.5s;
  -moz-transition-duration: 0s;
  -moz-transition-timing-function: ease-in-out;
  -moz-transition-property: stroke-dashoffset;
  -moz-transition-delay: 0.5s;
  -ms-transition-duration: 0s;
  -ms-transition-timing-function: ease-in-out;
  -ms-transition-property: stroke-dashoffset;
  -ms-transition-delay: 0.5s;
  transition-duration: 0s;
  transition-timing-function: ease-in-out;
  transition-property: stroke-dashoffset;
  transition-delay: 0.5s;
}

.btn--svg__border--left path {
  stroke-dashoffset: -61.8204345703125;
}

.btn--svg__border--right path {
  stroke-dashoffset: 61.8204345703125;
}

.btn--svg svg,
.btn--svg__label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
  -moz-transform: translate(-50%, -50%);
  -moz-transform-origin: 50% 50%;
  -ms-transform: translate(-50%, -50%);
  -ms-transform-origin: 50% 50%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50%;
}

.c-white {
  color: white;
}

.trailer {
  margin-bottom: 40px;
}

.trailer--nano {
  margin-bottom: 10px;
}

.box::before,
.box::after {
  content: "";
  pointer-events: none;
  position: absolute;
}

.box::before,
.box::after {
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  bottom: 0%;
  right: 0%;
}

.box::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.box::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

.box:hover {
  color: #fff;
}

.box:hover::before,
.box:hover::after {
  border-color: #fff;
  transition: border-color 0s, width 0.3s, height 0.3s;
  width: 100%;
  height: 100%;
}

.box:hover::before {
  transition-delay: 0s, 0s, 0.3s;
}

.box:hover::after {
  transition-delay: 0s, 0.3s, 0s;
}