* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #343541;
}

.timeline {
  margin-top: 100px !important;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-container {
  background-color: #2021237e;
  width: 100%;
  margin-top: 100;
}

/*esse eh a linha*/
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #202123;
  margin-left: -1px;
  
}

.timeline-item {
  position: relative;
  padding: 40px 0;
  clear: both;
  
}

.timeline-item:before,
.timeline-item:after {
  content: '';
  display: table;
}

.timeline-item:after {
  clear: both;
}

/* caixa de texto */
.timeline-item .content {
  position: relative;
  width: 45%;
  padding: 20px;
  background: #3e3f4b;
  border-radius: 5px;
  color: #ececf1;
  text-align: justify;
}

.timeline-item .content h2 {
  margin-top: 0;
}

.timeline-item .content p {
  margin: 10px 0;
}

/* essa eh a bolinha */
.timeline-item .timeline-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #202123;
  color: #ececf1;
}

.navbar {
  position: fixed;
  background-color: #202123;
  width: 100%;
  height: auto;   
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  text-align: left;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
.navbar h1{
  margin-left: 35px;
  color: #ececf1;
}
.navItens {
  color: #ececf1;
  margin-right: 35px;
  text-decoration: none;
  cursor: pointer;
  font-size: medium;  
  transition: all 0.2s ease-in-out;
}
  .navItens:hover {
    font-size: large;
    text-decoration: none;
    color: #ececf1;
  }

  .navbar img {
    width: 60px;
    height: auto;
    margin-top: 5px;
  } 
  
  .video-container {
    margin-top: 100px !important;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.right {
  left: 450px;
}

.curisidades {
  margin-top: 100px;
  background-color: #202123;
  padding: 60px;
  border-radius: 6px;
}

  .curisidades p, h1 {
    color: #ececf1;
    text-align: justify;
  }

  .curisidades h1 {
    font-size: 24px;
  }

  .curisidades img {
    height: 100%;
    width: auto;
  }

  .curisidades p {
    font-size: 12px;
  }

.curisidade {
  margin-bottom: 100px;
}

.part2 {
  flex-direction: row-reverse;
}

.made {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ececf1;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.gpt {
  width: 50px !important;
  height: auto;
}

.logos {
  width: 100px;
  margin-left: 30px;
  height: auto;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(128, 128, 128, 0.5);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

  .scroll-to-top:hover {
    background-color: rgba(128, 128, 128, 0.5);
    border: 0;
  }